@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: gray;
    font-family: initial;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
}

.cluster-icon{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background: red;
    transform: translate(-25%,-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}